#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layers

#define MAC 0
#define MAC_CODE 1
#define MAC_NUM 2
#define MAC_FUNC 3
#define WIN 4
#define WIN_CODE 5
#define WIN_NUM 6
#define WIN_FUNC 7

// Behavior Overrides

&lt {
    tapping-term-ms = <200>;
    flavor = "hold-preferred";
};

/ {
    //combos {
    //  compatible = "zmk,combos";
    //combo_tab {
    //  timeout-ms = <20>;
    //  key-positions = <1 2>;
    //  bindings = <&kp TAB>;
    //};
    //  combo_enter {
    //    timeout-ms = <20>;
    //  key-positions = <13 14>;
    //bindings = <&kp ENTER>;
    //};
    //};

    macros {
        spotlight: spotlight {
            label = "spotlight";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LGUI>;
        };

        // Emoji

        mac_emoji: mac_emoji {
            label = "mac_emoji";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_release>,
                <&kp LGUI>;
        };
        win_emoji: win_emoji {
            label = "win_emoji";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp DOT>,
                <&macro_release>,
                <&kp LGUI>;
        };
    };

    behaviors {
        td_multi_mac: tap_dance_multi_mac {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MULTI_MAC";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings =
                <&kp ESC>,
                <&spotlight>,
                <&mac_emoji>;
        };
        td_multi_windows: tap_dance_multi_windows {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MULTI_WINDOWS";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings =
                <&kp ESC>,
                <&kp LGUI>,
                <&win_emoji>;
        };
        bm: bottom_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "BOTTOM_ROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <135>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings =
                <&kp>,
                <&kp>;
        };
        cm: code_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "CODE_ROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings =
                <&kp>,
                <&kp>;

            retro-tap;
        };
        sm: space_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_MOD";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            bindings =
                <&kp>,
                <&kp>;
        };
    };

keymap {
      compatible = "zmk,keymap";
  layer0 {
          bindings = <
          &lt 2 KC_TILD &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp MINUS &lt 1 ESCAPE &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &lt 4 SEMICOLON &lt 2 SINGLE_QUOTE &kp LEFT_SHIFT &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT RCTL_T(KC_SLSH) &lt 5 BACKSLASH &mt LEFT_ALT ENTER &kp LEFT_GUI &kp SPACE &kp BACKSPACE RALT_T(KC_DEL) &lt 3 TAB
          >;
        };layer1 {
          bindings = <
          &to 0 KC_EXLM KC_AT KC_HASH KC_DLR KC_PERC RALT(KC_LEFT) RGUI(KC_DOWN) RGUI(KC_UP) RGUI(KC_RGHT) &kp F20 &kp EQUAL &trans KC_CIRC KC_AMPR KC_ASTR KC_LPRN KC_RPRN &kp LEFT &kp DOWN &kp UP &kp RIGHT &to 4 &to 3 &kp LEFT_SHIFT &kp F20 KC_LCBR KC_RCBR &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp HOME &kp PAGE_DOWN &kp PAGE_UP &kp END &kp BACKSLASH &to 5 &kp DELETE &kp BACKSPACE &kp SPACE &kp DELETE &kp RIGHT_ALT &to 3
          >;
        };layer2 {
          bindings = <
          &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &to 0 &kp F20 &kp C_PREVIOUS &kp C_PLAY_PAUSE &kp C_NEXT &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &trans &kp F20 &kp C_VOLUME_DOWN &kp C_VOLUME_UP &kp F20 &kp F20 &kp F20 &kp F20 &trans &kp F20 &kp F20 &kp F20 &kp LEFT_GUI &kp SPACE &kp ENTER &trans &kp RIGHT_ALT
          >;
        };layer3 {
          bindings = <
          &to 0 &kp F20 &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_ASTERISK KC_BTN2 KC_WH_U KC_MS_U KC_WH_D &kp F20 &kp F20 &kp F20 &kp KP_MINUS &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_PLUS KC_BTN1 KC_MS_L KC_MS_D KC_MS_R KC_ACL0 &trans &kp F20 &kp KP_SLASH &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_EQUAL &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp ENTER &kp KP_N0 &kp SPACE &kp BACKSPACE &kp RIGHT_ALT &trans
          >;
        };layer4 {
          bindings = <
          MEH(KC_3) MEH(KC_Q) MEH(KC_W) MEH(KC_E) MEH(KC_R) MEH(KC_T) MEH(KC_Y) MEH(KC_U) MEH(KC_I) MEH(KC_O) MEH(KC_P) MEH(KC_MINS) &to 1 MEH(KC_A) MEH(KC_S) MEH(KC_D) MEH(KC_F) MEH(KC_G) MEH(KC_H) MEH(KC_J) LCAG_T(KC_K) LCAG_T(KC_L) &trans &kp F20 MEH(KC_1) MEH(KC_Z) MEH(KC_X) MEH(KC_C) MEH(KC_V) MEH(KC_B) MEH(KC_N) MEH(KC_M) MEH(KC_COMM) MEH(KC_DOT) MEH(KC_SLSH) &kp F20 MEH_T(KC_4) MEH(KC_5) MEH(KC_6) MEH(KC_7) MEH(KC_8) MEH(KC_9)
          >;
        };layer5 {
          bindings = <
          &to 0 &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F11 &kp F12 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &trans &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20
          >;
        };layer6 {
          bindings = <
          
          >;
        };layer7 {
          bindings = <
          
          >;
        };layer8 {
          bindings = <
          
          >;
        };layer9 {
          bindings = <
          &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &trans &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20 &kp F20
          >;  
        };
    };
};
