#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

//#include <dt-bindings/zmk/mouse.h>
// Layers

#define MAC 0
#define MAC_CODE 1
#define UN_NUM 2
#define MAC_FUNC 3
#define WIN 4
#define WIN_CODE 5
#define WIN_NUM 6
#define WIN_FUNC 7

/*
&mmv {    
        time-to-max-speed-ms = <500>;
        acceleration-exponent=<1>;
};
&mwh {    
        time-to-max-speed-ms = <2000>;
        acceleration-exponent=<0>;
}; 
*/
// Behavior Overrides

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
};

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };
};

/ {
    //combos {
    //  compatible = "zmk,combos";
    //combo_tab {
    //  timeout-ms = <20>;
    //  key-positions = <1 2>;
    //  bindings = <&kp TAB>;
    //};
    //  combo_enter {
    //    timeout-ms = <20>;
    //  key-positions = <13 14>;
    //bindings = <&kp ENTER>;
    //};
    //};

    behaviors {
        bm: bottom_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "BOTTOM_ROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <135>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        cm: code_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "CODE_ROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            retro-tap;
        };

        tdPar: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&kp LPAR>, <&kp RPAR>;
        };

        sm: space_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_MOD";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        new_combo {
            bindings = <&kp LA(F)>;
            key-positions = <14 16>;
            layers = <0>;
        };

        DEnter {
            bindings = <&kp ENTER>;
            key-positions = <37 15>;
            layers = <0>;
        };

        ATab {
            bindings = <&kp TAB>;
            key-positions = <13 37>;
            timeout-ms = <100>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        mac_default_layer {
            bindings = <
  &kp Q    &kp W  &kp E           &kp R         &kp T                   &kp Y            &kp U         &kp I         &kp O         &kp P
  &lt 1 A  &kp S  &kp D           &kp F         &kp G                   &kp H            &kp J         &kp K         &kp L         &lt 3 APOSTROPHE
  &lt 2 Z  &kp X  &kp C           &kp V         &kp B                   &kp N            &kp M         &kp COMMA     &lt 4 PERIOD  &mt RCTRL SLASH
                  &mt LALT ENTER  &mt LGUI ESC  &mt LEFT_SHIFT SPACE    &lt 1 BACKSPACE  &mt RALT DEL  &mt RCMD TAB
            >;
        };

        mac_code_layer {
            bindings = <
  &kp EXCL   &kp AT          &kp HASH            &kp DOLLAR        &kp PERCENT              &kp RA(LEFT)  &kp RG(LEFT)   &kp RG(RIGHT)  &kp RA(RIGHT)  &kp MINUS
  &trans     &kp AMPERSAND   &kp ASTRK           &tdPar            &kp RIGHT_PARENTHESIS    &kp LEFT      &kp DOWN       &kp UP         &kp RIGHT      &kp SEMI
  &kp CARET  &kp LEFT_BRACE  &kp RIGHT_BRACE     &kp LEFT_BRACKET  &kp RIGHT_BRACKET        &kp HOME      &kp PAGE_DOWN  &kp PAGE_UP    &kp END        &kp BACKSLASH
                             &mt LALT BACKSPACE  &mt LGUI DEL      &mt LEFT_SHIFT SPACE     &kp DEL       &kp RALT       &kp TAB
            >;
        };

        mac_function_layer {
            bindings = <
  &trans  &trans      &trans            &trans        &trans              &kp TILDE      &kp N7  &kp N8  &kp N9  &kp MINUS
  &trans  &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT    &trans              &kp MINUS      &kp N4  &kp N5  &kp N6  &kp PLUS
  &trans  &kp C_MUTE  &kp C_VOL_DN      &kp C_VOL_UP  &trans              &kp SLASH      &kp N1  &kp N2  &kp N3  &kp EQUAL
                      &kp ENTER         &kp LEFT_GUI  &mt LSHIFT SPACE    &kp BACKSPACE  &kp N0  &trans
            >;
        };

        yabai_layer {
            bindings = <
  &kp LS(LA(LC(Q)))  &kp LS(LA(LC(W)))  &kp LS(LA(LC(E)))         &kp LS(LA(LC(R)))         &kp LS(LA(LC(T)))           &kp LS(LA(LC(Y)))         &kp LS(LA(LC(U)))         &kp LS(LA(LC(I)))         &kp LS(LA(LC(O)))    &kp LS(LA(LC(P)))
  &kp LS(LA(LC(A)))  &kp LS(LA(LC(S)))  &kp LS(LA(LC(D)))         &kp LS(LA(LC(F)))         &kp LS(LA(LC(G)))           &kp LS(LA(LC(H)))         &kp LS(LA(LC(J)))         &kp LS(LA(LC(K)))         &kp LS(LA(LC(L)))    &none
  &kp LS(LA(LC(Z)))  &kp LS(LA(LC(X)))  &kp LS(LA(LC(C)))         &kp LS(LA(LC(V)))         &kp LS(LC(LA(B)))           &kp LS(LA(LC(N)))         &kp LS(LA(LC(M)))         &kp LS(LA(LC(COMMA)))     &kp LS(LA(LC(DOT)))  &kp LS(LA(LC(SLASH)))
                                        &kp LS(LA(LC(NUMBER_4)))  &kp LS(LA(LC(NUMBER_5)))  &kp LS(LA(LC(NUMBER_6)))    &kp LS(LA(LC(NUMBER_7)))  &kp LS(LA(LC(NUMBER_8)))  &kp LS(LA(LC(NUMBER_9)))
            >;
        };

        function_key_bt_layer {
            bindings = <
  &kp F1   &kp F2   &kp F3    &kp F4        &kp F5       &none          &trans  &trans  &bt BT_CLR  &bt BT_SEL 0
  &kp F6   &kp F7   &kp F8    &kp F9        &kp F10      &none          &trans  &trans  &trans      &bt BT_SEL 1
  &kp F11  &kp F12  &kp F13   &kp F14       &kp F15      &trans         &trans  &trans  &trans      &bt BT_SEL 2
                    &kp LALT  &kp LEFT_GUI  &kp SPACE    &kp BACKSPACE  &trans  &trans
            >;
        };
    };
};
